@import url('https://fonts.googleapis.com/css2?family=Allison&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/*
font-family: 'Allison', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

body {font-family:'Open Sans', 'Noto Sans', sans-serif;}



#header h1 {position: fixed;top: 60px;left: 60px;z-index: 999;}
#header i {position: fixed;top: 60px;right: 60px;font-size: 30px;cursor: pointer;z-index: 999;}
#header nav {position: fixed;top: 50%;right: 60px;transform: translateY(-50%);z-index: 999;}
#header nav li {margin: 10px 0;position: relative;height: 10px;}

/* #header nav li a {display: block;width: 30px;height: 6px;border-radius: 3px;background: #333;text-indent: -9999px;position: absolute;right: 0;top: 0;transition: 0.3s;}
#header nav li.on a {width: 60px;} */

#header nav li a {display: block;width: 8px;height: 8px;border-radius: 50%;text-indent: -9999px;position: absolute;right: 0;top: 0;transition: 0.3s;}
#header nav li a:before {content: "";display: block;width: 8px;height: 8px;border-radius: 50%;background: rgb(255, 0, 0);position: absolute;left: 0;top: 0;}
#header nav li.on a:after {content: "";display: block;width: 8px;height: 8px;border-radius: 50%;background: #333;position: absolute;left: 0;top: 0;animation: abc 0.5s infinite;}
#header nav li.on a {transform: scale(1.5);}

@keyframes abc {
    0% {transform: scale(1);opacity: 0.5;}
    50% {transform: scale(2);opacity: 0;}
    100% {transform: scale(1);opacity: 0.5;}
}
    


.m01 h2 {text-align: center;font-size: 80px;font-family: 'Allison', cursive;letter-spacing: 0.025em;margin-bottom: 20px;transform: translateY(100px);opacity: 0;}
.m01 p {text-align: center;font-size: 12px;letter-spacing: 0.025em;line-height: 1.4;transform: translateY(100px);opacity: 0;}

.m01.on h2 {transform: translateY(0);opacity: 1;transition: 0.5s;}
.m01.on p {transform: translateY(0);opacity: 1;transition: 0.5s 0.5s;}






#footer .copyright {position: fixed;bottom: 60px;left: 60px;z-index: 999;}
#footer i {position: fixed;bottom: 60px;right: 60px;font-size: 30px;cursor: pointer;z-index: 999;}


.m02 {background: url(./assets/img/logo/logo_02.png);}
.m02 .container {display: flex;width: 1600px;margin: 0 auto;}
.m02 .container .mockup {flex: 9;}
.m02 .container .txt {flex: 7;display: flex;align-items: center;}
.m02 .container .mockup figure {background: url(./assets/img/logo/tv.png) no-repeat;height: 720px;padding: 185px 90px 0 100px;}
.m02 .container .mockup figure .portfolio01 {height: 450px;border-radius: 50px;overflow: hidden;}
.m02 .txt h3 {font-size: 50px;font-weight: 300px;font-family: 'Allison', cursive;margin-bottom: 30px;}
.m02 .txt p {font-size: 14px;font-weight: 300px;line-height: 1.4;margin-bottom: 30px;}
.m02 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m02 .txt i {font-size: 40px;color: #fff;background: #333;padding: 10px;border-radius: 10px;margin-right: 10px;}


.m03 {background: #f7f7f7 url(./assets/img/logo/logo_02.png);}
.m03 .container {display: flex;width: 1600px;margin: 0 auto;}
.m03 .container .mockup {flex: 9;}
.m03 .container .txt {flex: 7;order: -1;display: flex;align-items: center;}
.m03 .container .mockup figure {background: url(./assets/img/logo/tv.png) no-repeat;height: 720px;padding: 185px 90px 0 100px;}
.m03 .container .mockup figure .portfolio02 {height: 450px;border-radius: 50px;overflow: hidden;}
.m03 .txt h3 {font-size: 50px;font-weight: 300px;font-family: 'Allison', cursive;margin-bottom: 30px;}
.m03 .txt p {font-size: 14px;font-weight: 300px;line-height: 1.4;margin-bottom: 30px;}
.m03 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m03 .txt i {font-size: 40px;color: #fff;background: #333;padding: 10px;border-radius: 10px;margin-right: 10px;}
.m03 .txt .spec {margin-left: auto;}

.m04 {background: url(./assets/img/logo/logo_02.png);}
.m04 .container {display: flex;width: 1600px;margin: 0 auto;}
.m04 .container .mockup {flex: 9;}
.m04 .container .txt {flex: 7;display: flex;align-items: center;}
.m04 .container .mockup figure {background: url(./assets/img/logo/tv.png) no-repeat;height: 720px;padding: 185px 90px 0 100px;}
.m04 .container .mockup figure .portfolio03 {height: 450px;border-radius: 50px;overflow: hidden;}
.m04 .txt h3 {font-size: 50px;font-weight: 300px;font-family: 'Allison', cursive;margin-bottom: 30px;}
.m04 .txt p {font-size: 14px;font-weight: 300px;line-height: 1.4;margin-bottom: 30px;}
.m04 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m04 .txt i {font-size: 40px;color: #fff;background: #333;padding: 10px;border-radius: 10px;margin-right: 10px;}

.m05 {background: #f7f7f7 url(./assets/img/logo/logo_02.png);}
.m05 .container {display: flex;width: 1600px;margin: 0 auto;}
.m05 .container .mockup {flex: 9;}
.m05 .container .txt {flex: 7;order: -1;display: flex;align-items: center;}
.m05 .container .mockup figure {background: url(./assets/img/logo/tv.png) no-repeat;height: 720px;padding: 185px 90px 0 100px;}
.m05 .container .mockup figure .portfolio04 {height: 450px;border-radius: 50px;overflow: hidden;}
.m05 .txt h3 {font-size: 50px;font-weight: 300px;font-family: 'Allison', cursive;margin-bottom: 30px;}
.m05 .txt p {font-size: 14px;font-weight: 300px;line-height: 1.4;margin-bottom: 30px;}
.m05 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m05 .txt i {font-size: 40px;color: #fff;background: #333;padding: 10px;border-radius: 10px;margin-right: 10px;}
.m05 .txt .spec {margin-left: auto;}

.m06 {background: url(./assets/img/logo/logo_02.png);}
.m06 .container {display: flex;width: 1600px;margin: 0 auto;}
.m06 .container .mockup {flex: 9;}
.m06 .container .txt {flex: 7;display: flex;align-items: center;}
.m06 .container .mockup figure {background: url(./assets/img/logo/tv.png) no-repeat;height: 720px;padding: 185px 90px 0 100px;}
.m06 .container .mockup figure .web {height: 440px;overflow: hidden;border-radius: 35px;}
.m06 .container .mockup figure .web img {width: 100%;position: relative;transform: translateY(calc(0));transition: 3s;}
.m06 .container .mockup figure .web:hover img {transform: translateY(calc(-100% + 440px));}
.m06 .txt h3 {font-size: 50px;font-weight: 300px;font-family: 'Allison', cursive;margin-bottom: 30px;}
.m06 .txt p {font-size: 14px;font-weight: 300px;line-height: 1.4;margin-bottom: 30px;}
.m06 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m06 .txt i {font-size: 40px;color: #fff;background: #333;padding: 10px;border-radius: 10px;margin-right: 10px;}

.m06 .txt a {display: block;width: 100px;line-height: 40px;padding: 0 20px;background: chocolate;color: #fff;border-radius: 0 15px 0 15px;position: relative;transition: 0.5s;}
.m06 .txt a:after {content: "";display: block;width: 30px;height: 30px;background: #fff;border-radius: 50%;position: absolute;top: 5px;right: 35px;opacity: 0;transition: 0.5s;}
.m06 .txt a:hover {width: 200px;}
.m06 .txt a:hover:after {right: 5px;opacity: 1;}
.m06 .txt strong {display: inline-block;width: 70px;font-weight: 700;text-transform: uppercase;}
.m06 .info {line-height: 1.6;}

